.container {
  position: relative;
  width: 10%;
}

.image {
  opacity: 1;
  display: block;
  width: 1;
  height: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #3604aa;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
  