html, body {
    margin:0;
    height:100%;
  }

body{
    background-image: 
    linear-gradient(to right bottom, 
    rgba(60,170,250, 0.6),
    rgba(15, 80, 170, 0.8));
}

.text{
  text-align: center;
  font-size: large;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}