body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
}

.header {
  height: 100vh;
  background-image: 
  linear-gradient(to right bottom, 
  rgba(61,169,252, 0.8),
  rgba(15, 80, 169, 0.8)),
  url(/IMG/HeaderBG.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  backface-visibility: hidden;
  margin-bottom: 75px;
}

.heading-primary-main {
  display: block;
  
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 1400;
  letter-spacing: 3px;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 1700;
  letter-spacing: 1.5px;
}

.button:link,
.button:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 30px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.button-white {
  background-color: #fff;
  color: #777;
  font-size: 14px;
}